.contact tr {
    height: 7rem;
}

.contact th {
    width: 150px;
    text-align: right;
    padding-right: 10px;
}


input[type="text"] {
    width: 480px;
}

textarea[name="toiawase"] {
    width: 480px;
}

.button {
    color: white;
    height: 3rem;
    background-color: #008B8B;
    margin: 10px;
    border: none;
}

.button-wrapper {
    text-align: center;
}

input[type="button"]:hover {
    opacity: 0.5;
}